In [29]:
import pandas as pd

In [31]:
class DataPipeline:
    def __init__(self, data):
        self.data = data
        
    def preprocess(self):
        self.data['age'].fillna(self.data['age'].mean(), inplace=True)
        self.data['Principal'].fillna(self.data['Principal'].mean(), inplace=True)
        self.data.fillna(self.data.mode().iloc[0], inplace=True)
        
    def transform(self):
        self.data['effective_date'] = pd.to_datetime(self.data['effective_date'])
        self.data['due_date'] = pd.to_datetime(self.data['due_date'])
        
    def save(self, output_path):
        self.data.to_csv(output_path, index=False)
        
    def run(self, output_path):
        self.preprocess()
        self.transform()
        self.save(output_path)

In [30]:
df = pd.read_csv('loan.csv')

In [20]:
df.head()

,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,PAIDOFF,1000.0,30.0,9/8/2016,10/7/2016,45,NaN,male
1,PAIDOFF,1000.0,30.0,9/8/2016,10/7/2016,33,Bechalor,female
2,PAIDOFF,1000.0,15.0,9/8/2016,9/22/2016,27,college,male
3,PAIDOFF,1000.0,30.0,9/9/2016,10/8/2016,28,college,female
4,PAIDOFF,1000.0,30.0,9/9/2016,10/8/2016,29,college,male

In [32]:
data = DataPipeline(df)

In [33]:
data.run('output.csv')